<footer>
<div>
     <h4>powered by <a href="https://www.givitec.com">GIVITEC LTD</a>
     <span>all rights reserve</span>
     </h4>
</div>
    <h4><i>Tel : </i> 08079436049</h4>
</footer>
</body>
</html>