<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDS | <%= title %> </title>
    <!-- font awesome cdn link  -->
    <!-- <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
   <h2><img src="/images/pdf.png" alt="">
    <label>patriots demonstration school</label> 
</h2>
</header>